node_modules/
logs/
reports/
data.json.bak
*.log
/.vscode/
/.DS_Store
npm-debug.log
yarn-error.log
.gitignore
config.json
data.json
package-lock.json
package.json
.env
backups/
.vscode/
.idea/
Thumbs.db
pm2.pid
pm2.log
